@import url('https://fonts.googleapis.com/css?family=Roboto');

.maps {
  height: 100%
}

.hidden {
  display: none
}
#map {
  height: 50%;
  background-color: grey;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #72ffb9;
}

a {
  text-decoration: none
}

#map {
  width: 100%;
  height: 100%;
}

.set-cities {
  border: solid black 1px;
}

.section-header {
  font-size: 1.5rem;
  margin: 1rem 0;
  text-align: center;
}

.foursquare-page {
  border: solid black 1px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
}

.pill-title {
  font-size: 1.8rem;
  margin-top: 0.5rem;
  color: #222222;
  margin-bottom: 0;
}

.pill-title span {}

.pill-description {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 200;
  font-style: italic;
  margin-left: 1.5rem;
}

.pill-categories {
  display: flex;
}

.pill-categories div {
  background: #ffa527;
  color: white;
  margin: 0 0.5rem;
  padding: 0.5rem 1.3rem;
  border-radius: 22px;
}

.weather-container {
  text-align: center;
}
.weather-current-container {
  border: black solid 1px;
  padding: 0.5rem;
  background-color: #72b8ff;
  border-radius: 10px;
}

.weather-forecast-container {
  border: black solid 1px;
}

.weather-forecast-pill {
  border: solid black 1px;
  border-radius: 10px;
  padding: 0 2rem;
  margin: 1rem;
  background-color: #72b8ff;
}

.weather-date {
  font-size: 1.2rem;
}

.weather-icon {
  text-align: center;
}

.weather-icon-details {
  margin: 0;
}

.weather-details {
  margin: 1rem 0;
}
