@import url('https://fonts.googleapis.com/css?family=Roboto');

.hidden {
  display: none
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.5) 100%), url('https://farm2.staticflickr.com/1867/44502616031_9ffdb932fc_b.jpg');
  background-position: center;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgba(238, 238, 238, 0.6) !important; */
  background-blend-mode: color;
  color: #fff;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: #222222;
}

.start-screen {
  text-align: center;
  background-color: rgba(94, 83, 83, 0.3);
  width: 80%;
  height: 100%;
  margin: 40% auto;
  padding: 1rem;
}

.start-screen h1 {
  font-size: 3rem;
}

.set-cities {
  text-align: center;
  margin: 3rem 1rem;
  font-size: 2rem;
}

.set-cities label {
  margin-right: 1rem;
  font-size: 2rem;
}

.set-cities input {
  font-size: 1.5rem;
  line-height: 1.4rem;
}

.button-start-search {
  margin-top: 2rem;
  padding: .5rem;
  transition: 0.3s;
  font-size: 2rem;
  background-color: #fff;
  border-radius: 10px;
}

.button-start-search:hover {
  background-color: DodgerBlue;
  font-weight: 500;
  color: white;
}

.section-header {
  font-size: 1.5rem;
  margin: 3rem 0 0 0;
  text-align: center;
  background-color: rgba(94, 83, 83, 0.3);
}

.foursquare-page {
  border: solid black 1px;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #ffcb72;
  width: 75%;
  font-size: 1rem;
  color: black;
}

.pill-title {
  font-size: 2.7rem;
  margin-top: 0.5rem;
  color: #222222;
  margin-bottom: 0;
}

.pill-title span {}

.pill-description {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 200;
  font-style: italic;
  margin-left: 1.5rem;
}

.pill-categories {
  display: flex;
  font-size: 1.5rem;
}

.pill-categories div {
  background: #9872ff;
  color: white;
  margin: 0 0.5rem;
  padding: 0.5rem 1.3rem;
  border-radius: 22px;
  margin-top: 1rem;
}

.foursquare-pill-button {
  padding: .5rem;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  font-size: 1.8rem;
  border: 1px solid black;
  border-radius: 10px;
}

.foursquare-pill-button:hover {
  opacity: 1
}

.foursquare-pill-address {
  margin: 1rem 0 0 1rem;
  font-size: 1.5rem;
}

.like-button-selected {
  background-color: DodgerBlue;
  color: white;
}

.dislike-button-selected {
  background-color: red;
  color: white;
}

.weather-container {
  text-align: center;
  border: solid black 1px;
  border-radius: 10px;
  padding: 0 2rem;
  margin: 1rem 7rem;
  background-color: #72b8ff;
  font-size: 1rem;
}

.weather-date {
  font-size: 1.2rem;
}

.weather-icon {
  text-align: center;
  width: 70px;
  height: 70px;
}

/* resize images */
.weather-icon img {
  width: 100%;
  height: auto;
}

.weather-icon-details {
  margin: 0;
  font-size: .8rem;
}

.weather-details {
  margin: 1rem 0;
}

/*Tablet View*/
@media screen and (min-width: 768px) {
  .start-screen {
    margin-top: 20%
  }

  .weather-container {
    margin: 1rem 15rem;
  }

  .section-header {
    font-size: 3rem;
  }

  .weather-date {
    font-size: 2.5rem;
    margin: 1.5rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .results-container {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
  }

  .section-header {
    font-size: 2rem;
  }

  .weather {
    width: 45%;
  }

  .weather-container {
    margin: 1rem;
  }

  .weather-date {
    margin-bottom: 0;
  }

  .weather-icon-details {
    font-size: 1.5rem;
  }

  .weather-details {
    font-size: 1.8rem;
  }

  .foursquare {
    width: 45%;
    overflow-y: scroll;
    height: 1000px;
  }

  .foursquare-page {
    width: 95%;
    margin: 1rem 5% 1rem 1rem;
  }

  .pill-title {
    font-size: 2rem;
  }
}
